<!DOCTYPE html>
<html lang="ru">
<head>
  <title>{{.Title}}</title>
  <link rel="stylesheet" href="/resources/styles/main.css">
  <link rel="stylesheet" href="/resources/styles/tg.css">
  <link rel="stylesheet" href="/resources/styles/cards.css">
</head>
<body>

  <header class="tg-header tg-header--with-link">
    <div class="logo">
      <span class="logo-title">Telegram</span>
      <span class="logo-subtitle">Новая эра в общении</span>
    </div>
    <a class="header-link" href="/TG">Каналы</a>
  </header>

  <div class="page-title">{{.Title}}</div>

  <div class="container">
    <div class="card card--onechannel">
      {{with .Image}}<img class="card-img" src="{{.}}" alt="">{{end}}

      <div class="card-body">
        <p class="card-text">{{.Text}}</p>
      </div>

      <div class="card-footer">
        <span class="card-name">{{.Title}}</span>
        {{with .Subscribers}}<span class="card-subs">Количество подписчиков: {{.}}</span>{{end}}
      </div>
    </div>
  </div>

</body>
</html>