<!DOCTYPE html>
<html lang="ru">
<head>
  <title>Составление заявки</title>
  <link rel="stylesheet" href="/resources/styles/main.css">
  <link rel="stylesheet" href="/resources/styles/tg.css">
  <link rel="stylesheet" href="/resources/styles/cards.css">
</head>
<body>

  <header class="tg-header tg-header--with-link">
    <div class="logo">
      <span class="logo-title">Telegram</span>
      <span class="logo-subtitle">Новая эра в общении</span>
    </div>
    <a class="header-link" href="/TG">Каналы</a>
  </header>

  <div class="page-title">Анализ поста</div>

  <div class="order-summary">
    <p class="order-summary__title">Результат</p>
  
    <div class="order-summary__row">
      <span>Охват:</span>
      <span class="order-summary__value">74%</span> 
    </div>
  
    <div class="order-summary__row">
      <span>Коэффициент передачи:</span>
      <span class="order-summary__value">1.23</span>
    </div>
  </div>

  <div class="order-grid">
    {{range .Channels}}
        <div class="card card--vertical">
          {{with .Image}}<img class="card-img" src="{{.}}" alt="">{{end}}
          <div class="card-content">
            <p class="card-title">{{.Title}}</p>
            <a class="card-button tg-btn" href="/channel/{{ .ID }}">Перейти</a>
          </div>
        </div>

        <div class="metrics-card">
            <div class="metrics-row">
              <span class="metrics-label">Количество подписчиков:
                {{ with .Subscribers }}{{ . }}{{ else }}-{{ end }}
              </span>
            </div>
          
            <div class="metrics-row">
              <span class="metrics-label">Количество просмотров:</span>
              <input class="metrics-input" type="number" placeholder="Введите число" name="views">
            </div>
          
            <div class="metrics-row">
              <span class="metrics-label">Уровень репоста:</span>
              <input class="metrics-input" type="number" placeholder="Введите число" name="second">
            </div>
          </div>
    {{end}}
  </div>

</body>
</html>
